*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

p{
	font-size: 18px;
	color: black;
}

body{
	background-image: url("../images/unsplash_bgnd1.jpg");
	/* background img from: https://unsplash.com/photos/WrVvYxq11Yk */
	background-size: cover;
	background-repeat: no-repeat;
}

h3{
	color: #085581;
}

h5{
	color: #161616;
	font-size: 1.8vw;
}

.header{
	width: 100%;
	height: 80px;
	display: block;
	background-color: #161616	
}

.inner_header{
	width: 70%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: "Arial"; 
	font-size: 30px;
	font-weight: 100;
}

.logo_container h1 span{
	font-weight: 650;
}

.navigation{
	float: right;
	height: 100%;
}

.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation a:last-child{
	padding-right: 0; 
}

.navigation a li{
	display: table-cell;
	vertical-align: middle;
	color: white;
	height: 100%;
	font-family: Arial;
	font-size: 18px;
}

.quote{
	display: block;
	/*background: rgba(255,255,255,.65);*/
	font-size: 28px;
	text-align: center;
	width: 48%;
	padding: 10px 20px;
	margin: auto;
	margin-top: 6%;
}

.box1{
	margin-top: 12%;
	margin-right: 8%;
	padding: 2.5% 5%;
	border-radius: 5px;
	background: rgba(255,255,255,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	float: right;
	width: 38%;
}
